// SpaceMono Font :
@font-face {
  font-family: "Space Mono";
  src: url("../motaphoto/assets/fonts/space-mono/SpaceMono-Regular.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Space Mono";
  src: url("../motaphoto/assets/fonts/space-mono/SpaceMono-Italic.woff2")
    format("woff2");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Space Mono";
  src: url("../motaphoto/assets/fonts/space-mono/SpaceMono-Bold.woff2")
    format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Space Mono";
  src: url("../motaphoto/assets/fonts/space-mono/SpaceMono-BoldItalic.woff2")
    format("woff2");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

// Poppins Font :
@font-face {
  font-family: "Poppins";
  src: url("../motaphoto/assets/fonts/poppins/Poppins-Light.woff2")
    format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("../motaphoto/assets/fonts/poppins/Poppins-LightItalic.woff2")
    format("woff2");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

// Desktop FontStyles
@include desktop {
  h1 {
    font-family: "Space Mono", monospace;
    font-weight: 700;
    font-style: italic;
    font-size: 96px;
    line-height: 142.18px;

    text-transform: uppercase;
  }

  h2 {
    font-family: "Space Mono", monospace;
    font-weight: 400;
    font-style: italic;
    font-size: 66px;
    line-height: 62px;
  }

  h3 {
    font-family: "Space Mono", monospace;
    font-weight: 400;
    font-size: 18px;
    line-height: 26.66px;
    letter-spacing: 1.8px; // 10% of 18px
  }

  .description-photo {
    font-family: "Space Mono", monospace;
    font-weight: 400;
    font-size: 14px;
    line-height: 20.73px;
    letter-spacing: 1.4px; // 10% of 14px
  }

  p {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 21px;
  }

  .contact-modal .modal-content label {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
  }
}

// Mobile FontStyles
@include mobile {
  h1 {
    font-family: "Space Mono", monospace;
    font-weight: 700;
    font-style: italic;
    font-size: 52px;
    line-height: 100px;

    text-transform: uppercase;
    color: rgba(255, 255, 255, 0);
    -webkit-text-stroke: 1px rgb(255, 255, 255);
  }
  h2 {
    font-family: "Space Mono", monospace;
    font-weight: 400;
    font-style: italic;
    font-size: 46px;
    line-height: 48px;
  }

  h3 {
    font-family: "Space Mono", monospace;
    font-weight: 400;
    font-size: 18px;
    line-height: 26.66px;
    letter-spacing: 1.8px; // Same as desktop
  }

  .description-photo {
    font-family: "Space Mono", monospace;
    font-weight: 400;
    font-size: 14px;
    line-height: 20.73px;
    letter-spacing: 1.4px; // Same as desktop
  }

  p {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 21px;
  }
}
