/*
 * HEADER */

.site-header {
  background-color: #fff;
  padding: 10px 0;
  /* border-bottom: 1px solid #ccc;  */

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;

    .logo img {
      max-width: 216px;
      height: auto;
    }

    .site-navigation {
      display: flex;

      // Liens du menu
      a {
        font-family: "Space Mono", monospace;
        font-weight: 400;
        text-transform: uppercase;
        font-size: 16px;
        color: #000;
        text-decoration: none;
        margin-left: 20px;

        &:hover {
          font-weight: bold;
        }
      }

      ul {
        list-style: none; // enlève les puces
        display: flex;
        margin: 0;
        padding: 0;
      }

      li {
        padding: 0 10px; // espace autour de chaque élément de liste
      }
    }
  }
}
/*
 FIN HEADER */
