#random-photo-header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .header-title {
    position: absolute;
    color: rgba(255, 255, 255, 0);
    -webkit-text-stroke: 2px rgb(255, 255, 255);
    text-align: center;
  }
}
